/* General */

#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
}

/* Header */ 

header {
    grid-area: header;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 10px;
    text-align: center;
}

.logo-img {
    width: 80px;
    height: auto;
    margin-top: 30%;
}

.navbar li {
    list-style-type: none;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

.navbar li a.active {
    font-weight: 900; 
    text-decoration: underline #e6bd43;
  }

.navbar-contact {
    font-weight: 900;
    background-color: #e6bd43;
    margin-top: 10%;
    margin-bottom: 5%;
}

.navbar-contact a {
    border: 10px solid #e6bd43;
    padding-top: 0;
}

.header-image {
    opacity: 0.6;
    text-align: center;
    width: 170%;
}

.header-image-products {
    opacity: 0.6;
    text-align: center;
    width: 160%;
}

.absolute-header-h {
    position: absolute;
    top: 32%;
    font-size: 2.8rem;
    text-align: center;
}

.absolute-header-p {
    position: absolute;
    text-align: center;
    top: 48%;
    font-size: 20px;
    width: 73%;
    left: 12%;
}

.absolute-header-btn {
    position: absolute;
    font-weight: 900;
    background-color: #e6bd43;
    border: 10px solid #e6bd43;
    color: black;
    top: 70%;
    left: 15%;
    width: 63%;
    font-size: 1.2rem;
}

.header-container {
    position: absolute;
    top: 18%;
    left: 26%;
    height: 425px;
    width: 230px
}

.about-company::before {
    content: "";
    position: absolute;
    top: 37%;
    right: 13%;
    bottom: 3%;
    left: 13%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 0;
}

.company-name {
    position: absolute;
    top: 42%;
    left: 7%;
}

.header-image-about {
    width: 290%;
    height: 570px;
}

.absolute-header-h-about {
    position: absolute;
    top: 32%;
    font-size: 1.0rem;
    left: -30%;
    margin: 37%;
}

.absolute-header-p-about {
    position: absolute;
    top: 60%;
    font-size: 13px;
    width: 68%;
    left: 7%;
}

.absolute-header-btn-about {
    position: absolute;
    font-weight: 900;
    background-color: #e6bd43;
    border: 3px solid #e6bd43;
    color: black;
    top: 125%;
    left: 6%;
    width: 58%;
    font-size: 1.0rem;
    padding: 3%;
}

.portfolio-h1 {
    position: absolute;
    top: 52%;
    font-size: 2.5rem;
    left: 30%;
}

/* Main */

main {
    grid-area: main;
}

.yellow_underline {
    border-bottom: solid 3px #e6bd43;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 10px;
}

.product-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.product-section article {
    max-width: 350px;
    min-width: 200px;
    flex: 1; 
    margin-top: 20px;
    margin-left: 40px;
}

.product-section article img {
    width: 295px;
}

.portfolio-nav {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    margin-left: 40px;
    margin-top: 40px;
    grid-gap: 15px;
}

.portfolio-nav a {
    color: black;
    text-decoration-line: none;
    border: solid black 2px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.engaging-subheading {
    display: flex;
    margin: 40px 50px 0;
    flex-direction: column;
    height: 350px;
    text-align: center;
}

.engaging-subheading p {
    font-size: 20px;
    margin-top: -2px;
}

.about-our-company {
    background-color: #e6bd43;
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.about-our-company img {
    width: 275px;
    height: 275px;
    margin: 50px 0px 0px 50px;
}

.our-company-h {
    margin-top: 60px;
    padding-right: 120px;
    padding-left: 100px;
}

.our-company-p {
    margin: 0px 100px 0px 100px;
    font-size: 20px;
}

.our-company-btn {
    font-weight: 900;
    background-color: #e6bd43;
    border: 3px solid black;
    color: black;
    width: 44%;
    font-size: 1.2rem;
    margin: 15px 30px 0px 47px;
    padding: 10px 30px 10px 10px;
}

.a-padding {
    padding-right: 50px;
    padding-left: 50px;
    text-decoration: none;
}

.our-services {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 50px;
}

.our-services i {
    margin-top: 50px;
}

.our-services p {
    margin-top: -5px;
}

.our-services h3 {
    margin-top: 30px;
}

.our-services h2 {
    margin-top: 50px;
}

.sign-up {
    background-color: #e9e8e8;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    height: 150px;
}

.sign-up-btn {
    font-weight: 900;
    background-color: #e6bd43;
    padding: 12px 15px 12px 15px;
    border-style: none;
}

#email {
    padding-top: 10px;
    padding-bottom: 10px;
} 

/* Footer */

footer {
    grid-area: footer;
}

.footer-flex {
    background-color: #252525;
    display: flex;
    flex: auto;
    align-items: center;
    flex-direction: column;
}

footer p {
    color: #fff;
    font-size: 130%;
}

footer img {
    width: 80px;
    height: auto;
    margin-top: 50%;
}

.icon-container {
    gap: 40%;
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 16%;
}

.fa-brands {
    color: #fff;
    font-size: 30px;
}