/* General */

#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
}

a {
    text-decoration: none;
}

body {
    max-width: 1600px;
    font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

/* Header */ 

header {
    grid-area: header;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 10px;
    text-align: center;
}

.logo-img {
    width: 80px;
    height: auto;
    margin-top: 30%;
}

.navbar li {
    list-style-type: none;
}

.navbar li a {
    color: black;
    padding-right: 3px;
    padding-left: 3px;
}

.navbar li a.active {
    font-weight: 900; 
    text-decoration: underline #e6bd43;
  }

.navbar-contact {
    font-weight: 900;
    background-color: #e6bd43;
    margin-top: 10%;
    margin-bottom: 5%;
}

.navbar-contact a {
    border: 10px solid #e6bd43;
    padding-top: 0;
}

.header-video {
    display: none;
}

.header-image {
    opacity: 0.6;
    text-align: center;
    width: 170%;
}

.header-image-products {
    opacity: 0.6;
    text-align: center;
    width: 160%;
}

.absolute-header-h {
    position: absolute;
    top: 32%;
    font-size: 2.8rem;
    text-align: center;
}

.absolute-header-p {
    position: absolute;
    text-align: center;
    top: 48%;
    font-size: 17px;
    width: 73%;
    left: 12%;
}

.absolute-header-btn {
    position: absolute;
    font-weight: 700;
    background-color: #e6bd43;
    border: 10px solid #e6bd43;
    color: black;
    top: 70%;
    left: 14%;
    width: 63%;
    font-size: 1rem;
}

.header-container {
    position: absolute;
    top: 32%;
    left: 26%;
    height: 149px;
    width: 230px;
}

.about-company::before {
    content: "";
    position: absolute;
    top: 37%;
    right: 13%;
    bottom: 3%;
    left: 13%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 0;
}

.about-company {
    overflow: hidden;
}

.company-name {
    position: absolute;
    top: 42%;
    left: 7%;
}

.header-image-about {
    width: 290%;
    height: 570px;
}

.absolute-header-h-about {
    position: absolute;
    top: 15%;
    font-size: 1.0rem;
    left: -30%;
    margin: 37%;
}

.absolute-header-p-about {
    position: absolute;
    top: 96%;
    font-size: 12px;
    width: 68%;
    left: 7%;
}

.absolute-header-btn-about {
    position: absolute;
    font-weight: 700;
    background-color: #e6bd43;
    border: 3px solid #e6bd43;
    color: black;
    top: 288%;
    left: 6%;
    width: 58%;
    font-size: 0.9rem;
    padding: 3%;
}

.overflow-hidden {
    overflow: hidden;
}

.portfolio-h1 {
    position: absolute;
    top: 52%;
    font-size: 2.5rem;
    left: 30%;
}

/* Main */

main {
    grid-area: main;
}

.yellow_underline {
    border-bottom: solid 3px #e6bd43;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 10px;
}

.branding {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.design {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.development {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.branding article {
    max-width: 350px;
    min-width: 200px;
    flex: 1; 
    margin-top: 20px;
    margin-left: 40px;
}

.design article {
    max-width: 350px;
    min-width: 200px;
    flex: 1; 
    margin-top: 20px;
    margin-left: 40px;
}

.development article {
    max-width: 350px;
    min-width: 200px;
    flex: 1; 
    margin-top: 20px;
    margin-left: 40px;
}

.branding article img {
    width: 295px;
}

.design article img {
    width: 295px;
}

.development article img {
    width: 295px;
}

.portfolio-nav {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    margin-left: 40px;
    margin-top: 40px;
    grid-gap: 15px;
}

.portfolio-nav a {
    color: black;
    text-decoration-line: none;
    border: solid black 2px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.engaging-subheading {
    display: flex;
    margin: 40px 50px 0;
    flex-direction: column;
    height: 350px;
    text-align: center;
}

.engaging-subheading p {
    font-size: 16px;
    margin-top: -2px;
}

.about-our-company {
    background-color: #e6bd43;
    display: flex;
    flex-direction: column;
    height: 1200px;
}

.about-our-company img {
    width: 275px;
    height: 275px;
    margin: 50px 0px 0px 50px;
}

.our-company-h {
    margin-top: 60px;
    padding-right: 120px;
    padding-left: 100px;
}

.our-company-p {
    margin: 0px 100px 0px 100px;
    font-size: 20px;
}

.our-company-btn {
    font-weight: 700;
    background-color: #e6bd43;
    border: 3px solid black;
    color: black;
    width: 44%;
    font-size: 1.1rem;
    margin: 15px 30px 0px 47px;
    padding: 10px 30px 10px 10px;
}

.a-padding {
    padding-right: 50px;
    padding-left: 50px;
    text-decoration: none;
}

.our-services {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 50px;
}

.our-services i {
    margin-top: 50px;
}

.our-services p {
    margin-top: -5px;
}

.our-services h3 {
    margin-top: 30px;
}

.services h2 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.clients {
    background-color: #e6bd43;
    text-align: center;
    padding-top: 35px;
    height: 15%;
    width: auto;
}

.clients img {
    width: 130px;
    margin-right: 30px;
    margin-left: 25px;
    padding-bottom: 50px;
    margin-top: 10%;
}

.sign-up {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    height: 150px;
}

.sign-up-form {
    display: flex;
    align-items: center;
    margin-left: 23px;
    gap: 4px;
}

.sign-up-btn {
    font-weight: 700;
    background-color: #e6bd43;
    padding: 12px 15px 12px 15px;
    border-style: none;
    margin-right: 20px;
    color: black;
    font-size: 13px;
}

.sign-up-btn-index {
    font-weight: 700;
    background-color: #e6bd43;
    padding: 12px 15px 12px 15px;
    border-style: none;
    margin-right: 20px;
    color: black;
    font-size: 13px;
}

#email {
    padding-top: 13px;
    padding-bottom: 10px;
    padding-left: 14px;
    border-style: none;
    margin-left: -2px;
    width: 57%;
} 

.contact-us {
    background-color: #f4f4f4;
    margin-bottom: 0px;
    padding-bottom: 1px;
    padding-top: 30px;
    height: 24%;
}

.contact-us h2 {
    text-align: center;
}

.contact-us-form {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    gap: 5px;
    margin-bottom: 50px;
    margin-top: 30px;
}

#name, #subject, #message {
    border-style: none;
}

.contact-information {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
}

.icon-flex {
    display: flex; 
    gap: 5%;
}

.icon-flex-margin {
    display: flex;
    gap: 5%;
    margin-bottom: 0px;
}

.google-maps {
    width: 375px;
    height: 250px;
    border: 0;
}

/* Footer */ 

footer {
    grid-area: footer;
}

.footer-flex {
    background-color: #252525;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-flex-margin {
    background-color: #252525;
    display: flex;
    flex: auto;
    align-items: center;
    flex-direction: column;
    margin-top: 0
}

footer p {
    color: #fff;
    font-size: 100%;
}

footer img {
    width: 80px;
    height: auto;
    margin-top: 50%;
}

.icon-container {
    gap: 40%;
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 16%;
}

.fa-brands {
    color: #fff;
    font-size: 30px;
}

.to-top {
    position: fixed;
    background-color: #252525;
    z-index: 100;
    top: 90%;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 14px;
    padding-left: 14px;
    left: 82%;
}

/* Desktop */

@media only screen and (min-width: 600px) {
    
    /* General */

    #grid-container {
        display: grid;
        grid-template-areas: "header header header" "main main main" "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* Header */

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;   
        margin-left: 10px;
        margin-top: 20px;
        margin-right: 10px;
    }
    
    .navbar {
        display: flex;
        flex-direction: row;
        margin: 0; 
        padding: 0; 
    }

    .navbar li {
        margin: 0;
        padding: 0;
    }

    .navbar-contact {
        margin: 0;
        padding: 0;
    }

    .logo-img {
        width: 80px;
        height: auto;
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    .header-image {
        display: none;
    }

    .header-video {
        height: 720px;
        width: auto;
        display: flex;
        top: 22%;
        position: absolute;
        left: 0%;
        z-index: -1;
        opacity: 0.4;
    }

    .absolute-header-h {
        left: 35%; 
    }

    .absolute-header-p {
        left: 13%;
    }

    .absolute-header-btn {
        top: 60%;
        left: 39%;
        width: 20%
    }

    .header-image-products {
        width: 100%;
        height: 300px;
        margin-top: 20px;
    }

    .portfolio-h1 {
        position: absolute;
        top: 38%;
        font-size: 3rem;
        left: 44%;
    }

    /* Main */

    .header-image-about {
        width: 100%;
        height: 400px;
    }

    .engaging-subheading {
        display: flex;
        margin: 390px 0 0;
        flex-direction: column;
        height: 340px;
        text-align: center;
        background-color: white;
        padding-right: 250px;
        padding-left: 250px;
    }

    .engaging-subheading h2 {
        font-size: 3.0rem;
        margin-top: 90px;
    }

    .engaging-subheading p {
        margin-top: -13px;
    }

    .about-our-company {
        background-color: #e6bd43;
        display: flex;
        flex-direction: column;
        height: 427px;
    }
    .our-company-p {
        margin: -6px 90px -13px 447px;
        font-size: 20px;
    }

    .our-company-h {
        margin-top: -299px;
        padding-left: 445px;
    }

    .our-company-btn {
        margin: 27px 0px 0px 396px;
        padding: 10px 8px 9px 9px;
        width: 14%; 
    }

    .about-our-company img {
        width: 350px;
        height: 350px;
        margin: 40px 0px 0px 50px;
    }

    .our-services {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin-bottom: 20px;
        margin-right: 100px;
        margin-left: 100px;
    }

    .services h2 {
        margin-bottom: 50px;
        font-size: 3rem
    }

    .our-services i {
        margin: 0;
    }
    
    .our-services p {
        margin-top: -20px
    }
    
    .our-services h3 {
        margin: 30px; 
    }

    .sign-up-form {
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: center;
    }

    .sign-up {
        height: 230px;
    }

    .sign-up h3 {
        font-size: 2.5rem;
    }

    .about-company::before {
        content: "";
        position: absolute;
        top: 29%;
        right: 3%;
        bottom: 10%;
        left: 51%;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .absolute-header-p-about {
        position: absolute;
        top: 35%;
        font-size: 16px;
        left: 71%;
        padding: 0%;
        width: 100%;
    }

    .company-name {
        position: absolute;
        top: 20%;
        left: 71%;
    }

    .absolute-header-btn-about {        
        position: absolute;
        font-weight: 700;
        background-color: #e6bd43;
        border: 3px solid #e6bd43;
        color: black;
        top: 76%;
        left: 71%;
        width: 33%;
        font-size: 1.0rem;
        padding: 2%;
    }

    .absolute-header-h-about {
        position: absolute;
        top: -15%;
        font-size: 1.5rem;
        left: 34%;
        padding: 0%;
        width: 100%;
    }

    .about-company {
        background-color: rgba(255, 255, 255, 0.8);
        margin-top: 2%;
    }

    .header-container {
        position: absolute;
        top: 18%;
        left: 26%;
        height: 407px;
        width: 500px;
    }

    .clients {
        height: 17%;
        font-size: 2rem;
    }

    .clients img {
        margin-top: 3%;
    }

    .contact-us {
        background-color: #f4f4f4;
        margin-bottom: 0px;
        padding-bottom: 1px;
        padding-top: 50px;
        height: 29%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .contact-us h2 {
        text-align: center;
        flex-grow: 2;
        flex-basis: 100%;
        margin-bottom: 32px;
        font-size: 35px;
    }

    .contact-us article {
        flex-basis: 43%;
        margin-left: 40px;
    }

    .contact-us-form {
        display: flex;
        flex-direction: column;
        margin-left: 159px;
        margin-right: 30px;
        gap: 7px;
        margin-bottom: 45px;
        margin-top: 2px;
    }

    #email {
        padding-top: 12px;
        padding-bottom: 10px;
        padding-left: 14px;
        border-style: none;
        margin-left: -2px;
        width: 15%;
    }

    #name, #subject, #message {
        border-style: none;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .sign-up-btn {
        padding: 12px 10px 12px 6px;
        width: 32%;
    }

    .google-maps {
        width: 100%;
        height: 200px;
        border: 0;
    }

    .portfolio-nav {
        display: flex;
        flex-direction: row;
        gap: 1%;
        margin-left: 3%;
    }

    .portfolio-nav a {
        border: solid black 1px;
    }

    .yellow_underline {
        font-size: 2.5rem;
        flex-basis: 100%;
        margin-right: -3px;
    }

    .nav-section h2 {
        font-size: 2.5rem;
        flex-basis: 100%;
        margin-right: 38px;
      }

    .branding,
    .design, 
    .development {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: row;
        justify-content: space-between;
        margin-right: 3%;
    }

    .branding article,
    .design article,
    .development article {
        flex: 1;
        max-width: 692px;
        margin-bottom: 20px; 
        flex-basis: 30%;
    }

    .design article img,
    .branding article img {
        height: 375px;
        width: 375px;
    }

    .development article img {
        height: 575px;
        width: auto;
    }

    .flex-2 {
        flex: 2; 
        flex-basis: 45%;
    }

    .design article {
        flex: 1; 
        flex-basis: 30%
    }

    .branding article:last-child img {
        height: 575px;
        width: auto;
    }

    /* Footer */

    .to-top {
        left: 94%;
        top: 84%;
    }

    .footer-flex {
        display: flex;
        flex-direction: row;
        gap: 30%;
        padding-top: 1%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .icon-container {
        gap: 40%;
        display: flex;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    footer img {
        margin-top: 0%;
    }

    .footer-flex-margin {
        background-color: #252525;
        display: flex;
        flex: auto;
        align-items: center;
        flex-direction: column;
        margin-top: -40%; 
    }
    }