/* General */

#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
}

/* Header */ 

header {
    grid-area: header;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 10px;
    text-align: center;
}

.logo-img {
    width: 80px;
    height: auto;
    margin-top: 30%;
}

.navbar li {
    list-style-type: none;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

.navbar li a.active {
    font-weight: 900; 
    text-decoration: underline #e6bd43;
  }

.navbar-contact {
    font-weight: 900;
    background-color: #e6bd43;
    margin-top: 10%;
    margin-bottom: 5%;
}

.navbar-contact a {
    border: 10px solid #e6bd43;
    padding-top: 0;
}

.header-image {
     /* https://unsplash.com/photos/iphone-5s-near-laptop-Ai6sfNRvlvc?fbclid=IwAR1llJuU_VFTdZsXccCuzc4MAyNy-ZNKzsEsL64SL6EnW5tXjN0tcHURNWE */
    opacity: 0.6;
    text-align: center;
    width: 170%;
}

.absolute-header-h {
    position: absolute;
    top: 32%;
    font-size: 2.8rem;
    text-align: center;
}

.absolute-header-p {
    position: absolute;
    text-align: center;
    top: 48%;
    font-size: 20px;
    width: 73%;
    left: 12%;
}

.absolute-header-btn {
    position: absolute;
    font-weight: 900;
    background-color: #e6bd43;
    border: 10px solid #e6bd43;
    color: black;
    top: 70%;
    left: 15%;
    width: 63%;
    font-size: 1.2rem;
}

/* Main */

main {
    grid-area: main;
}

.engaging-subheading {
    display: flex;
    margin: 40px 50px 0;
    flex-direction: column;
    height: 350px;
    text-align: center;
}

.engaging-subheading p {
    font-size: 20px;
    margin-top: -2px;
}

.about-our-company {
    background-color: #e6bd43;
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.about-our-company img {
    width: 275px;
    height: 275px;
    margin: 50px 0px 0px 50px;
}

.our-company-h {
    margin-top: 60px;
    padding-right: 120px;
    padding-left: 100px;
}

.our-company-p {
    margin: 0px 100px 0px 100px;
    font-size: 20px;
}

.our-company-btn {
    font-weight: 900;
    background-color: #e6bd43;
    border: 3px solid black;
    color: black;
    width: 44%;
    font-size: 1.2rem;
    margin: 15px 30px 0px 47px;
    padding: 10px 30px 10px 10px;
}

.a-padding {
    padding-right: 50px;
    padding-left: 50px;
    text-decoration: none;
}

/* Footer */

footer {
    grid-area: footer;
}

.footer-flex {
    background-color: #252525;
    display: flex;
    flex: auto;
    align-items: center;
    flex-direction: column;
}

footer p {
    color: #fff;
    font-size: 130%;
}

footer img {
    width: 80px;
    height: auto;
    margin-top: 50%;
}

.icon-container {
    gap: 40%;
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 16%;
}

.fa-brands {
    color: #fff;
    font-size: 30px;
}